<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PremierDetail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F3AE6731C2367ED00E63CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3AE6871C2367ED00E63CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3AE6921C2367ED00E63CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
